accelerate
-e .
aiosqlite
APScheduler
autopep8
bcrypt
beautifulsoup4
black
build
cachetools
Deprecated
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi
flask-cors
httptools
langcodes
librosa
matplotlib
opentelemetry-exporter-jaeger
orjson
pipdeptree
portalocker
pre_commit
prometheus_client
PyJWT
pylint
PyNaCl
pytest-asyncio
python-multipart
redis
requests-cache
shap
torch-geometric
typer
uvicorn
watchfiles
websockets
z3-solver
